@{
    ViewData["Title"] = "Home Page"; // Viewdata ko [Bhitra ]je set xha eg:-["Title] "tyo chai  _Layout.cshtml ko <titile>@Viewdata["Bhitra"] tehi nehi name set huna paryo
}

<div class="text-center">
    
    <img src="/College-Management-Software.png" height="500" />
    <h4 class="display-4">Welcome to College Management System</h4>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
